<div class="all">
    <div class=" Head">
      <div class="inhead"></div>
    </div>
    
        <div class="container">
        
          
             
          <div class="col1">
    
          <div class="card mb-3  headb"> 
          <div class="head">
          <img src="./assets/6.jpeg" class="card-img-top" alt="...">
          <h5>client's name</h5></div>
          <div class="card-body">
          <h6 class="card-title">name</h6>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p-rating [(ngModel)]="val" [readonly]=true [cancel]=false [stars]="5"></p-rating>
    
          
        </div>
      </div>
    
      <div class="card  mb-3  headb">
        <div class="head">
        <img src="./assets/6.jpeg" class="card-img-top" alt="...">
        <h5>client's name</h5></div>
        <div class="card-body">
          <h6 class="card-title">name</h6>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p-rating [(ngModel)]="val2" [readonly]=true [cancel]=false [stars]="5"></p-rating>
        </div>
      </div>
    
      
      <div class="card  mb-3 headb">
        <div class="head">
        <img src="./assets/6.jpeg" class="card-img-top" alt="...">
        <h5>client's name</h5></div>
        <div class="card-body">
          <h6 class="card-title">name</h6>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p-rating [(ngModel)]="val" [readonly]=true [cancel]=false [stars]="5"></p-rating>
    
        </div>
      </div>
    
      
      <div class="card  mb-3 headb">
        <div class="head">
        <img src="./assets/6.jpeg" class="card-img-top" alt="...">
        <h5>client's name</h5></div>
        <div class="card-body">
          <h6 class="card-title">name</h6>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p-rating [(ngModel)]="val3" [readonly]=true [cancel]=false [stars]="5" ></p-rating>
    
        </div>
      </div>
    </div>
     
    
    </div>
    </div>