
     <!-- Section4 -->
     <div class="container mb-5 mt-5">
        <div class="row section4">
            <div class="col-8">
                <h2>Top Rated Freelancers</h2>
            </div>
            <div class="col-12 mt-md-3 d-flex justify-content-center">
                <div class="row">
                    <!-- Card1 -->
                    <div class="col-lg-3 col-md-6 d-flex justify-content-center mt-3">
                        <div class="card" style="width: 18rem;" (mouseleave)="removeStyle(img1 , cardBody1)">
                            <img #img1 src="/assets/images/person3.jpg" class="card-img-top" alt="..." (mouseenter)="addStyle(img1 , cardBody1)">
                            <div class="card-body" #cardBody1>
                                <a routerLink="">
                                    <p class="card-text fs-4 mb-1">Mona Fathy</p>
                                </a>
                                <small><b>IOS Developer</b></small>
                                <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat velit, accusamus consectetur laboriosam ea commodi cumque explicabo eos. Voluptate</p>
                            </div>
                        </div>
                    </div>
                    <!-- Card2 -->
                    <div class="col-lg-3 col-md-6 d-flex justify-content-center mt-3">
                        <div class="card" style="width: 18rem;" (mouseleave)="removeStyle(img2 , cardBody2)">
                            <img #img2 src="/assets/images/person2.jpg" class="card-img-top" alt="..." (mouseenter)="addStyle(img2 , cardBody2)">
                            <div class="card-body" #cardBody2>
                                <a routerLink="">
                                    <p class="card-text fs-4 mb-1">Salem Salah</p>
                                </a>
                                <small>Android Developer</small>
                                <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat velit, accusamus consectetur laboriosam ea commodi cumque explicabo eos. Voluptate</p>
                            </div>
                        </div>
                    </div>
                    <!-- Card3 -->
                    <div class="col-lg-3 col-md-6 d-flex justify-content-center mt-3">
                        <div class="card" style="width: 18rem;" (mouseleave)="removeStyle(img3 , cardBody3)">
                            <img #img3 src="/assets/images/person3.jpg" class="card-img-top" alt="..." (mouseenter)="addStyle(img3 , cardBody3)">
                            <div class="card-body" #cardBody3>
                                <a routerLink="">
                                    <p class="card-text fs-4 mb-1">Hala Samir</p>
                                </a>
                                <small>Front-End Developer</small>
                                    <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat velit, accusamus consectetur laboriosam ea commodi cumque explicabo eos. Voluptate</p>
                            </div>
                        </div>
                    </div>
                    <!-- Card4 -->
                    <div class="col-lg-3 col-md-6 d-flex justify-content-center mt-3">
                        <div class="card" style="width: 18rem;" (mouseleave)="removeStyle(img4 , cardBody4)">
                            <img #img4 src="/assets/images/person4.jpg" class="card-img-top" alt="..." (mouseenter)="addStyle(img4 , cardBody4)">
                            <div class="card-body" #cardBody4>
                                <p class="card-text fs-4 mb-1">Ahmed Gamal</p>
                                <small>Back-End Developer</small>
                                <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat velit, accusamus consectetur laboriosam ea commodi cumque explicabo eos. Voluptate</p>
                            </div>
                        </div>
                    </div>
                    <!-- End of card4 -->
                </div>
            </div>
        </div>

    </div>
    <!-- End of Section4    -->
