
    <!-- Section2 -->
    <div class="container mt-5 mb-5">
        <div class="row section2 mb-2">
            <div class="col-6 fw-bolder">
                <h1 class="animate__animated animate__bounce">Why you Choose Us?</h1>
            </div>
            <div class="col-12 mt-md-5 cart">
                <div class="row text-center d-flex justify-content-between">
                    <!-- Card1 -->
                    <div class="col-md-6 d-flex justify-content-center">
                        <div class="card animate__animated animate__bounce" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="76" height="76" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                                        <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
                                        <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z"/>
                                      </svg>
                                </h5>
                                <h6 class="card-subtitle mb-4">Trust</h6>
                                <p class="card-text text-muted">Some quick example text to build on the card title and
                                    make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Card2 -->
                    <div class="col-md-6 d-flex justify-content-center">
                        <div class="card animate__animated animate__bounce" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="76" height="76" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
                                        <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                                        <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
                                        <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                                      </svg>
                                </h5>
                                <h6 class="card-subtitle mb-4 ">Fast Responce</h6>
                                <p class="card-text text-muted">Some quick example text to build on the card title and
                                    make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Card3 -->
                    <div class="col-md-6 d-flex justify-content-center">
                        <div class="card animate__animated animate__bounce" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="76" height="76" fill="currentColor" class="bi bi-compass-fill" viewBox="0 0 16 16">
                                        <path d="M15.5 8.516a7.5 7.5 0 1 1-9.462-7.24A1 1 0 0 1 7 0h2a1 1 0 0 1 .962 1.276 7.503 7.503 0 0 1 5.538 7.24zm-3.61-3.905L6.94 7.439 4.11 12.39l4.95-2.828 2.828-4.95z"/>
                                      </svg>
                                </h5>
                                <h6 class="card-subtitle mb-4">Easy to Find</h6>
                                <p class="card-text text-muted">Some quick example text to build on the card title and
                                    make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End of Card3 -->
                    <!-- Card4 -->
                    <div class="col-md-6 d-flex justify-content-center">
                        <div class="card animate__animated animate__bounce" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title mb-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="76" height="76" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                                        <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"/>
                                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path fill-rule="evenodd" d="M8 13.5a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
                                      </svg>
                                </h5>
                                <h6 class="card-subtitle mb-4">Totaly Free</h6>
                                <p class="card-text text-muted">Some quick example text to build on the card title and
                                    make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End of Card4 -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Section2 -->
