.nav-profile-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.nav-icon{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.box.bg{
    border-radius: 5px;
    background-color: rgb(241, 240, 240);

}