<div class="tab-content" id="nav-tabContent">
  <section class="content mt-5 tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="card">
        <div class="card-header bg-white text-left">
            brief about me
        </div>
        <div class="card-body">

        </div>
    </div>
    <div class="card mt-4">
        <div class="card-header bg-white text-left">
            My Skills
        </div>
        <div class="card-body">

        </div>
    </div>
  </section>
  <section class="content mt-5 tab-pane fade show" id="feedback" role="tabpanel" aria-labelledby="feedback-tab">
    <div class="card">
        <div class="card-header bg-white text-left">
           Feedback
        </div>
        <div class="card-body">

        </div>
    </div>
  </section>
</div>
