
<section class="page-content">
  <app-navbar></app-navbar>
  <div class="container-fluid">
    <router-outlet>

    </router-outlet>
  </div>
  <app-footer></app-footer>
</section>
<!-- <app-home-freelancer-dashboard></app-home-freelancer-dashboard> -->
<!-- <app-list-portfolio></app-list-portfolio> -->
<!-- <app-view-portfolio></app-view-portfolio> -->
<!--<app-home-freelancer-dashboard></app-home-freelancer-dashboard>-->
<!-- <app-list-portfolio></app-list-portfolio> -->
<!-- <app-view-portfolio></app-view-portfolio> -->
