<div class="container">
  <section class="profile">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <img src="../../../assets/img/profile.png" class="rounded-circle text-center mt-5" alt="profilephoto">
        </div>
        <div class="text-center">
          <i class="fa fa-circle" data-toggle="tooltip" title="" data-original-title="case"></i>
          his name
        </div>
        <div class="text-center">
          <ul class="list-inline">
              <li class="list-inline-item"><a>active from hour</a></li>
              <li class="list-inline-item"><a>number of offer</a></li>
          </ul>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs justify-content-end" id="myTab" role="tablist">
            <li class="nav-item me-auto" role="presentation">
              <a routerLink="/setting"  class="btn btn-primary ">Setting<fa-icon [icon]="faslide" aria-hidden="true"></fa-icon></a>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Profile <fa-icon [icon]="faHome" aria-hidden="true"></fa-icon></button>
            </li>
            <li class="nav-item" role="presentation">
              <!-- <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile <fa-icon [icon]="faHome" aria-hidden="true"></fa-icon></button> -->
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="feedback-tab" data-bs-toggle="tab" data-bs-target="#feedback" type="button" role="tab" aria-controls="feedback" aria-selected="false">feedback <fa-icon [icon]="faComment" aria-hidden="true"></fa-icon></button>
            </li>
          </ul>
          <!-- <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
          </div> -->
          <!-- <span class="pt-2 pb-2 pe-auto"style="background-color: #0d6efd; display: block; border-radius:5px;width:150px"></span> -->
          <!-- <button type="button" class="btn" style="background-color: #0d6efd;" data-bs-toggle="button" autocomplete="off" aria-pressed="true"></button> -->
          <!-- <a href="setting.html" >Edite profile <i class="fas fa-sliders-h"></i><fa-icon [icon]="faCoffee"></fa-icon></a> -->
      </div>
      <!-- <div class="col-md-8">
          <ul class="nav nav-pills justify-content-end">
              <li class="nav-item">
                  <a  href="#"><i class="fa fa-download" aria-hidden="true"></i> About me</a>
              </li>
              <li class="nav-item start">
                  <a  href="#"><i class="fa fa-download" aria-hidden="true"></i> Gallery of project</a>
              </li>
          </ul>
      </div> -->
    </div>
  </section>
  <div class="row">
    <div class="col-md-12 mt-3">
      <div class="row">
        <div class="col-md-4">
          <!--End content section-->
          <section class="documentaion">
            <app-left></app-left>
            <app-leftdocumentaion></app-leftdocumentaion>
          </section>
        </div>
        <div class="col-md-8">
          <app-right></app-right>
        </div>
      </div>
    </div>
  </div>
</div>




