<div class="container">
  <div class="row">
    <div class="col-md-12 mt-4 mb-4">
      <h2>Edit your Profile</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt-3">
      <div class="row">
        <!-- Start left section -->
        <div class="col-md-4">
          <!--Start section profile -->
          <app-leftinfo></app-leftinfo>

        </div>
        <!--End left section  -->
        <!--Start right section  -->
        <div class="col-md-8">
          <app-rightinfo></app-rightinfo>
        </div>
        <!--End right section -->
      </div>
    </div>
  </div>
</div>
