
    <!-- Section6 -->
    <div class="container-fluid section6-container mb-5">
        <div class="row section6 mb-5">
            <div class="row section6-header justify-content-center mb-5">
                <div class="col-6">
                    <h2>What Clients Say</h2>
                    <small>
                        These are some of the clients revweis on projects
                    </small>
                </div>
            </div>
            <div class="row section6-body justify-content-center">
                
                    <div class="col-lg-4 col-md-6">
                    <!-- Card1 -->
                    <div class="card text-center mt-md-0">
                        <div class="position-absolute top-0 start-50 translate-middle card-img mb-5 ">
                            <img src="/assets/images/clients1.jpg" alt="" class="img-fluid rounded-circle">
                        </div>
                        <div class="card-body mt-5">
                          <h5 class="card-title mb-0">Ahmed Eslwah</h5>
                          <small class="card-text mt-0 ">Project Manager</small>
                          <p class="card-desc text-muted mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quis assumenda sed odio facilis, cum laudantium magnam sint voluptas ipsam doloremque.</p>
                        </div>
                      </div>
                      <!-- End of Card1 -->
                      
                </div>
                <div class="col-lg-4 col-md-6 mt-sm-5 mt-md-0">
                    <!-- card2 -->
                    <div class="card text-center">
                        <div class="position-absolute top-0 start-50 translate-middle card-img mb-5 ">
                            <img src="/assets/images/clients1.jpg" alt="" class="img-fluid rounded-circle">
                        </div>
                        <div class="card-body mt-5">
                          <h5 class="card-title mb-0">Ahmed Eslwah</h5>
                          <small class="card-text mt-0">Project Manager</small>
                          <p class="card-desc text-muted mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quis assumenda sed odio facilis, cum laudantium magnam sint voluptas ipsam doloremque. </p>
                        </div>
                      </div>
                      <!-- End of Card2 -->
                </div>
                <div class="col-lg-4 col-md-6 mt-sm-5 mt-md-0">
                    <!-- Card3 -->
                    <div class="card text-center">
                        <div class="position-absolute top-0 start-50 translate-middle card-img mb-5 ">
                            <img src="/assets/images/clients1.jpg" alt="" class="img-fluid rounded-circle">
                        </div>
                        <div class="card-body mt-5">
                          <h5 class="card-title mb-0">Ahmed Eslwah</h5>
                          <small class="card-text mt-0">Project Manager</small>
                          <p class="card-desc text-muted mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quis assumenda sed odio facilis, cum laudantium magnam sint voluptas ipsam doloremque.</p>
                        </div>
                      </div>
                      <!-- End of Card3 -->
                </div>
            </div>
        </div>
    </div>
    <!-- end of section6 -->
