
<!--Start of Feed -->
        <div class="row bg p-2 mt-4">
            <div class="col-12">
              <a class="nav-link active" href="#">
                <i class="mdi mdi-newspaper"></i>
                Feed
              </a>
              <hr class="mt-0">
            </div>
            <div class="profile-feed">
              <div class="d-flex align-items-start profile-feed-item">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="profile" class="img-sm rounded-circle">
                <div class="ml-4">
                  <h6>
                    Mason Beck
                    <small class="ml-4 text-muted"><i class="mdi mdi-clock mr-1"></i>10 hours</small>
                  </h6>
                  <p>
                    There is no better advertisement campaign that is low cost and also successful at the same time.
                  </p>
                  <p class="small text-muted mt-2 mb-0">
                    <span>
                      <i class="mdi mdi-star mr-1"></i>4
                    </span>
                    <span class="ml-2">
                      <i class="mdi mdi-comment mr-1"></i>11
                    </span>
                    <span class="ml-2">
                      <i class="mdi mdi-reply"></i>
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <!-- End Of Feed 1 -->
            <div class="profile-feed">
              <div class="d-flex align-items-start profile-feed-item">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="profile" class="img-sm rounded-circle">
                <div class="ml-4">
                  <h6>
                    Mason Beck
                    <small class="ml-4 text-muted"><i class="mdi mdi-clock mr-1"></i>10 hours</small>
                  </h6>
                  <p>
                    There is no better advertisement campaign that is low cost and also successful at the same time.
                  </p>
                  <p class="small text-muted mt-2 mb-0">
                    <span>
                      <i class="mdi mdi-star mr-1"></i>4
                    </span>
                    <span class="ml-2">
                      <i class="mdi mdi-comment mr-1"></i>11
                    </span>
                    <span class="ml-2">
                      <i class="mdi mdi-reply"></i>
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <!-- End Of Feed 2 -->
            <div class="profile-feed">
              <div class="d-flex align-items-start profile-feed-item">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="profile" class="img-sm rounded-circle">
                <div class="ml-4">
                  <h6>
                    Mason Beck
                    <small class="ml-4 text-muted"><i class="mdi mdi-clock mr-1"></i>10 hours</small>
                  </h6>
                  <p>
                    There is no better advertisement campaign that is low cost and also successful at the same time.
                  </p>
                  <p class="small text-muted mt-2 mb-0">
                    <span>
                      <i class="mdi mdi-star mr-1"></i>4
                    </span>
                    <span class="ml-2">
                      <i class="mdi mdi-comment mr-1"></i>11
                    </span>
                    <span class="ml-2">
                      <i class="mdi mdi-reply"></i>
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- End Of Feed 3 -->