<div class="row bg p-2 mt-4">
    <div class="col-12">
        <a class="nav-link active" href="#">
            <i class="mdi mdi-newspaper"></i>
            Active Jobs
          </a>      <hr class="mt-0">
      <div class="list-group active mb-1">
        <a href="#" class="list-group-item list-group-item-action list-group-item-primary"> a simple primary list
          group item <small class="text-muted">3 days ago</small></a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-success"> a simple primary list
          group item <small class="text-muted">3 days ago</small></a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-danger"> a simple primary list
          group item <small class="text-muted">3 days ago</small></a>
      </div>
    </div>
  </div>
