
    <!-- Section8 Footer -->
    <div class="container-fluid footer-container mt-5">
        <div class="row section8 justify-content-between p-5 mb-5">
            <div class="row">
                <div class="col-12">
                <img src="/assets/images/logo1.png" alt="" class="mb-5"><br>
                </div>
            </div>
            <div class="col-md-4">
                <small class="text-muted mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam at modi quae laudantium, saepe, cum voluptate tempora hic, voluptas doloremque dignissimos perspiciatis perferendis veniam numquam fugiat. Tempore, commodi. Repellendus, quibusdam.</small>
                <h5 class="fw-bolder mb-5 mt-3" style="color:white">+564 7788 2512</h5>
                <small class="text-muted mb-5">Youremail@gmail.com</small>
            </div>
            <div class="col-md-2">
                <h6>Quick Links</h6>
                <a routerLink="/about">
                    <small class="text-muted">About Us</small>
                </a><br>
                <small class="text-muted">Terms of Use</small><br>
                <small class="text-muted">Privacy Policy</small><br>
                
            </div>
            <div class="col-md-2">
                <h6>Our Categories</h6>
                <a routerLink="/Catagories/:name">
                    <small class="text-muted">Doctors</small>
                </a>
                <br>
                <a routerLink="/Catagories/:name">
                    <small class="text-muted">Writers</small>
                </a>
                <br>
                <a routerLink="/Catagories/:name">
                    <small class="text-muted">Designers</small>
                </a>
                <br>
                <a routerLink="/Catagories/:name">
                    <small class="text-muted">Engineers</small>
                </a>
                <br>
            </div>
            <div class="col-md-4 mb-5">
                <h6 class="mb-5">NewsLatter</h6>
                <small class="text-muted mb-3">For any Suggestions</small><br>
                <input type="text" class="mb-5 mt-3">
                <button class="btn">Send</button>
            </div>
            <div class="row mt-5">
                <hr>
                <div class="col-7">
                    <small class="text-muted">Copyright @2021 reserved</small>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>
    <!-- End of Section8 -->